
window {
    background-image: linear-gradient(140deg, #5C8374, #9EC8B9);
}

flowbox {
    margin-top: 0px;
    margin-right: 160px;
    margin-bottom: 60px;
    margin-left: 160px;
}

entry {
    margin-top: 40px;
    margin-right: 600px;
    margin-bottom: 20px;
    margin-left: 600px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 20px;
}

button {
    background: transparent;
    border: none;
    border-style: none;
    box-shadow: none;
    font-weight: bold;
    font-size: 14px;
}

button:hover {
    /*font-weight: bold;
    font-size: 14px;*/
    box-shadow: none;
}